.flat {
    border: 0px;
}
header {
    display: inline-block;
}
main {
    background-color:white
}

.crumbs {
    background-color:rgb(230, 230, 230);
    padding: 6px;   
}
.crumbs a {
    padding: 0px 6px;
    color:black;
    text-transform: capitalize;
}

#items-map {
    width: 100%;
    height: 400px;
  }

/* cancel mini-css header>button uppercase */
header button, header [type="button"], header .button, header [role="button"] {
      text-transform: none;
  }

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color:rgb(230, 230, 230);
}
