html, body {
    background-color: #fff;
}

.flat {
    border: 0;
}

header {
    display: inline-block;
}

/* cancel mini-css header>button uppercase */
header button, header [type="button"], header .button, header [role="button"] {
    text-transform: none;
}

main {
    background-color: white;
    padding-bottom: 65px; /* prevent from falling under the footer */
}

.crumbs {
    background-color: rgb(230, 230, 230);
    padding: 6px;
}

.crumbs a {
    color: black;
    padding: 0px 6px;
}

#items-map {
    width: 100%;
    height: 400px;
}

footer.sticky {
    position: fixed;
    width: 100%;
}

table:not(.horizontal) {
    max-height: none;
}

table {
    empty-cells: show;
    table-layout: auto;
}

th, td {
  width: auto;
}

td.small {
  font-size: smaller;
}

table mark {
  font-size: 80%;
  font-weight: 600;
}

#process table th,
#process table td {
  font-size: 80%;
  overflow-x: visible;
}

#process-example {
  padding: 40px;
  background: var(--header-back-color);
  color: var(--header-fore-color);
}

.form-style-1 {
	margin: 10px auto;
	padding: 20px 12px 10px 20px;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin: 6px 0 0 6px;
	padding: 0px;
	display: block;
	font-weight: bold;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	border: none;
}

.job-results {
  color: green;
  overflow: hidden;
  transition:all 2s ease-in;
}

mark.successful {
  background-color: green;
}

mark.accepted {
  background-color: default;
}

mark.failed {
  background-color: red;
}

mark.running {
  background-color: orange;
}

#job-results {
  border: 1px solid #eee;
  border-left-color: #1b809e;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 4px;
  margin-right: 9px;
  padding: 20px;
}

#job-results h3 {
  color: #1b809e;
}

#job-results:empty {
  visibility: hidden;
  padding: 0;
}

#job-status {
  border: 2px solid;
  border-radius: 3px;
}

#job-status.successful {
  border-color: green;
}

#job-status.accepted {
  border-color: default;
}

#job-status.failed {
  border-color: red;
}

#job-status.running {
  border-color: orange;
}

#job-status-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 50px;
  margin-top: 0;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#job-status-header.successful {
  background-color: lightgreen;
}

#job-status-header.accepted {
  background-color: default;
}

#job-status-header.failed {
  background-color: pink;
}

#job-status-header.running {
  background-color: yellow;
}

#job-status-header > .progress {
  float: right;
}

#job-status-header > span {
  line-height: 50px;
}

#job-status-body {
  margin: 20px;
  padding: 5px;
}

#job-status-body > .message {
  background-color: var(--header-back-color);;
  border-radius: 3px;
  padding: 15px;
}

#job-status-body > .message > h3 {
  color: grey;
}

#job-status-body > .links > ul {
  list-style-type: none;
  padding: 0;
}

#job-status-body > .links > ul a {
  display: inline-block;
  margin-bottom: 10px;
}

#job-status-body > .links > ul a:hover {
  background-color: var(--header-back-color);;
}

#job-status-body > .links > ul a:last-of-type {
  margin-bottom: 0;
}

#job-status-body > .links > ul li {
  border: 2px solid var(--header-back-color);;
  border-radius: 3px;
  padding: 15px;
  position: relative;
}

#job-status-body > .duration > h4,
#job-status-body > .links > h4 {
  color: grey;
  font-size: smaller;
  margin-bottom: 0;
}

#job-status-body > .duration > p {
  margin-top: 0;
}
