{% extends "_base.html" %}
{% block title %}{{ super() }} SpatioTemporal Asset Catalog {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="./stac">SpatioTemporal Asset Catalog</a>
{% endblock %}
{% block body %}

    <section id="identification">
      <h4>STAC Version: {{ data['stac_version'] }}</h4>
    </section>

    <section id="collections">
      <h2>Collections</h2>
            <table class="striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
                {% for k, v in filter_dict_by_key_value(config['resources'], 'type', 'stac-collection').items() %}
                <tr>
                  <td data-label="name">
                    <a  title="{{ v['title'] | striptags | truncate }}"
                      href="{{ config['server']['url'] }}/stac/{{ k }}">
                      <span>{{ v['title'] | striptags | truncate }}</span></a>
                  </td>
                  <td data-label="description">
                    {{ v['description'] | striptags | truncate }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
    </section>

{% endblock %}
