<script>
    Vue.component('AddBlock', {
        props: ['vals', 'label', 'config'],
        name: 'AddBlock',
        template: '#add-block-template',
        data: function () {
            return {
                dialog: false,
                step: 1,
                vals_: Object.values(this.$root.copy(this.vals)),
                keys_: Object.keys(this.$root.copy(this.vals)),
                keys_show_: [],
                resourceChoice: null,
                providerChoice: null,
                new_key: '',
                new_val: Object.values(this.$root.copy(this.vals))[0],
                resources: ['collection', 'process', 'stac-collection']
                }
        },
        watch: {
            providerChoice: function(c){
                this.new_val = Object.keys(this.vals).includes(c) ? this.vals[c]: this.new_val
            },
            resourceChoice: function(re){
                if (!this.resources.includes(re)){
                    this.resourceChoice = null
                } else {
                    var ks = new Set()
                    for (var i = 0; i < this.keys_.length; i++){
                        if (this.vals_[i]['type'] === this.resourceChoice){
                            ks.add(this.keys_[i])
                        }
                    }
                    this.keys_show_ = [...ks.values()]
                }
            }
        },
        methods: {
            saved: function() {
                if (this.new_key){
                    this.config[this.new_key] = this.$root.copy(this.new_val)
                    this.new_key = ''
                    this.resourceChoice = null
                    this.providerChoice = null
                    this.step = 1
                    this.closed()
                }
            },
            closed: function() {
                this.dialog = false
            },
            indexof: function(k){
                return this.keys_.indexOf(k)
            },
            _key: function(k){
                return this.$vnode.key + '.' + k
            },
            capitalize: function(input, len){
                if (typeof input === 'string'){
                    return this.$root.capitalize(input,len)
                } else {
                    var parent = this._key(input).match(/([a-z])+/g).pop()
                    return this.capitalize(parent,1) + ' [' + input + ']'
                }
            },
        },
    })
</script>

<script type="text/x-template" id="add-block-template">
    <div class="add-block">
        <v-row justify="center" >
            <v-dialog v-model="dialog" width="75%">

                <template v-slot:activator="{ on, attrs }">
                    <v-col>
                    <v-btn class="mx-2" depressed rounded v-bind="attrs" v-on="on" > <v-icon>mdi-plus</v-icon> Add Resource </v-btn>
                    </v-col>
                </template>

                <v-card>
                    <v-toolbar>
                        <v-toolbar-items>
                            <v-btn @click="dialog = false"><v-icon>mdi-close</v-icon></v-btn>
                        </v-toolbar-items>
                    </v-toolbar>
                    <v-container>
                        <v-stepper v-model="step" vertical width="100%">
                            <v-stepper-step :complete="step > 1" step="1">
                                Create Resource
                                <v-stepper-content step="1">
                                    <v-divider></v-divider>
                                    <v-row justify="center">
                                        <v-col cols="12" md="4">
                                        <v-textarea
                                            v-model="new_key" label="Resource Name" rows="1" reverse no-resize
                                        ></v-textarea>
                                        </v-col>
                                        <v-col cols="12" md="4">
                                            <v-autocomplete
                                                v-model="resourceChoice" :items="resources" hint="Resource Type" auto-select-first reverse persistent-hint
                                            ></v-autocomplete>
                                            </v-col>
                                        <v-col cols="12" md="4">
                                            <v-autocomplete :disabled="resourceChoice === null"
                                                v-model="providerChoice" :items="keys_show_" hint="Provider Type" reverse persistent-hint
                                            ></v-autocomplete>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-spacer></v-spacer>
                                        <v-col class="shrink">
                                            <v-btn @click="step += 1" :disabled="providerChoice === null"> Next</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-stepper-content>
                            </v-stepper-step>
                            <v-divider></v-divider>
                            <v-stepper-step :complete="step > 2" step="2">
                                Resource Metadata
                                <v-stepper-content step="2">
                                    <v-divider></v-divider>
                                    <v-container fluid>
                                        <h5>Title</h5>
                                        <gui-block :vals="new_val['title']" label="title" :key="_key('title')"></gui-block>
                                        <h5>Description</h5>
                                        <gui-block :vals="new_val['description']" label="description" :key="_key('description')"></gui-block>
                                        <h5>Keywords</h5>
                                        <gui-block :vals="new_val['keywords']" label="keywords" :key="_key('keywords')"></gui-block>
                                    </v-container>
                                    <v-row>
                                        <v-col class="shrink">
                                            <v-btn @click="step -= 1"> Previous </v-btn>
                                        </v-col>
                                        <v-spacer></v-spacer>
                                        <v-col class="shrink">
                                            <v-btn @click="step += 1"> Next</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-stepper-content>     
                            </v-stepper-step>
                            <v-divider></v-divider>
                            <v-stepper-step :complete="step > 3" step="3">
                                JSON-LD Context
                                <v-stepper-content step="3"> 
                                    <v-divider></v-divider>
                                    <gui-block :vals="new_val.context" label="context" :key="_key('context')"></gui-block>
                                    <v-row>
                                        <v-col class="shrink">
                                            <v-btn @click="step -= 1"> Previous </v-btn>
                                        </v-col>
                                        <v-col class="grow"> <span></span> </v-col>
                                        <v-col class="shrink">
                                            <v-btn @click="step += 1"> Next</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-stepper-content>    
                            </v-stepper-step>
                            <v-divider></v-divider>
                            <v-stepper-step :complete="step > 4" step="4">
                                Links
                                <v-stepper-content step="4"> 
                                    <v-divider></v-divider>
                                    <gui-block :vals="new_val.links" label="Links" :key="_key('links')"></gui-block>
                                    <v-row>
                                        <v-col class="shrink">
                                            <v-btn @click="step -= 1"> Previous </v-btn>
                                        </v-col>
                                        <v-col class="grow"> <span></span> </v-col>
                                        <v-col class="shrink">
                                            <v-btn @click="step += 1"> Next</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-stepper-content>    
                            </v-stepper-step>
                            <v-divider></v-divider>
                            <v-stepper-step :complete="step > 5" step="5">
                                Extents
                                <v-stepper-content step="5"> 
                                    <v-divider></v-divider>
                                    <gui-block :vals="new_val.extents" label="Extents" :key="_key('extents')"></gui-block>
                                    <v-row>
                                        <v-col class="shrink">
                                            <v-btn @click="step -= 1"> Previous </v-btn>
                                        </v-col>
                                        <v-col class="grow"> <span></span> </v-col>
                                        <v-col class="shrink">
                                            <v-btn @click="step += 1"> Next</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-stepper-content>    
                            </v-stepper-step>
                            <v-divider></v-divider>
                            <v-stepper-step :complete="step > 6" step="6">
                                Data Providers
                                <v-stepper-content step="6"> 
                                    <gui-block :vals="new_val.providers" label="Providers" :key="_key('providers')"></gui-block>
                                    <v-row>
                                        <v-col class="shrink">
                                            <v-btn @click="step -= 1"> Previous </v-btn>
                                        </v-col>
                                        <v-col class="grow"> <span></span> </v-col>
                                        <v-col class="shrink">
                                            <v-btn @click="saved"> Save </v-btn>
                                        </v-col>
                                    </v-row>
                                </v-stepper-content>    
                            </v-stepper-step>
                        </v-stepper>
                    </v-container>

                        </v-card>
                </v-card>
            </v-dialog>
        </v-row>
    </div>
</script>