<script>
      Vue.component('GuiBlock', {
    props: ['label', 'vals', 'depth'],
    name: 'GuiBlock',
    template: '#gui-block-template',
    data: function () {
      return {
        dialog: this.$root.dialog,
        label_: this.label,
        key_: this.$vnode.key,
        vals_: this.vals,
        depth_: this.depth ? this.depth : 0,
      }
    },
    methods: {
      capitalize: function(input){
        if (typeof input === 'string'){
            var start = input.slice(0,1).toUpperCase()
            var out = input.replace("_", " ")
            return (start + out.slice(1))
        } else {
            return input
        }
      },
    },
    computed: {
      editable: function(){
        for (const [k, v] of Object.entries(this.vals)){
          if (typeof(v) !== 'object'){
            return true
          }
        }
        return false
      },
    }
  })

</script>

<script type="text/x-template" id="gui-block-template">
    <div class="gui-block">
    
      <template v-if="typeof(vals) === 'string' || typeof(vals) === 'number' || typeof(vals) === 'boolean'">
        <span v-html="vals"></span>
      </template>
    
      <template v-else-if="depth_ === 2">
        <dialog-block :vals="vals" :label="label" :key="key_"></dialog-block> 
      </template>

      <template v-else>
        <v-hover>
          <template v-slot:default="{ hover }">
            <v-container>
                <v-card class="mx-auto" width="100%">
                  <v-card-text>
                    <table class="striped">
                        <tr v-for="(v, k) in vals" :key="k">

                          <td v-if="typeof(k) === 'string'" style="text-align:center"> 
                            <h4 v-html="capitalize(k)"></h4>
                          </td>

                          <td height="100%" style="text-align:center">
                            <gui-block 
                            :key="key_ + '.' + k"
                            :label="k" 
                            :vals="v"
                            :depth="depth_ + 1"
                            >
                            </gui-block>
                          </td>

                        </tr>

                    </table>
                    
                  </v-card-text>

                  <v-card-actions v-if="(!vals.length && editable) || label === 'keywords'">
                    <editable-block v-show="hover" :vals="vals" :label="label" :key="key_"></editable-block>
                  </v-card-actions>

                </v-card>
            </v-container>
          </template>
        </v-hover>
      </template>
    </div>
</script>