
{% extends "_base.html" %}
{% block title %}{{ super() }} Admin {% endblock %}

{% macro render_block(_key, _val) %}
  <div>
    <table>
      {% if data.isdict(_val) %}
      {% for k, v in _val.items() %}
      <tr>
        <th> {{ k }} </th>
        <td>
          {% if data.isdict(v) %}
            {{ render_block(k, v)}}
          {% elif data.islist(v) %}
            {% for _v in v %}
              {{ render_block(loop.index, _v) }}
            {% endfor %}
          {% else %}
            {{ v }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    {% endif %}
    </table>
  </div>
{% endmacro %}

{% block extrafoot %}
<script src="https://unpkg.com/vue"></script>
{% endblock %}

{% block body %}
  
  <div id="app">
    <v-app id="inspire">
      <v-data-table
        :headers="headers"
        :items="desserts"
        class="elevation-1"
      >
      </v-data-table>
    </v-app>
  </div>
  {{ render_block('Server',  data.config.server ) }}
  {{ render_block('Metadata',  data.config.metadata ) }}
  {{ render_block('Resources',  data.config.resources ) }}

{% endblock %}