language: python

dist: xenial
sudo: false

python:
  - "3.5"

services:
  - elasticsearch
  - postgresql

addons:
  postgresql: 9.6


before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libsqlite3-mod-spatialite pandoc devscripts
  - sudo apt-get install -y postgresql-9.6-postgis-2.4
  

install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - python setup.py install

env:
  - PYGEOAPI_CONFIG=pygeoapi-config.yml

before_script:
  - sleep 20
  - python tests/load_es_data.py tests/data/ne_110m_populated_places_simple.geojson
  - pygeoapi generate_openapi_document -c pygeoapi-config.yml > pygeoapi-openapi.yml
  - psql -U postgres -c 'create database test'
  - psql -U postgres -d test -c 'create extension postgis'
  - gunzip < hotosm_bdi_waterways.sql.gz | psql -U postgres test

script:
  - pytest --cov=pygeoapi
  - find . -type f -name "*.py" | xargs flake8
  - python setup.py --long-description | rst2html5.py

after_success:
  - python setup.py sdist bdist_wheel --universal
  - debuild -b -uc -us
