language: python

dist: xenial

python:
  - "3.5"

services:
  = elasticsearch

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libsqlite3-mod-spatialite pandoc devscripts

install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - python setup.py install

env:
  - PYGEOAPI_CONFIG=pygeoapi-config.yml

before_script:
  - sleep 10
  - python tests/load_es_data.py tests/data/ne_110m_populated_places_simple.geojson
  - pygeoapi generate_openapi_document -c pygeoapi-config.yml > pygeoapi-openapi.yml

script:
  - pytest --cov=pygeoapi
  - find . -type f -name "*.py" | xargs flake8
  - python setup.py --long-description | rst2html5.py

after_success:
  - python setup.py sdist bdist_wheel --universal
  - debuild -b -uc -us
