server:
    bind:
        host: 0.0.0.0
        port: 5000
    url: http://localhost:5000
    mimetype: application/json; charset=UTF-8
    encoding: utf-8
    language: en-US
    cors: true
    map:
        url: https://tile.openstreetmap.org/{z}/{x}/{y}.png
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    limit: 10


logging:
    level: DEBUG
    #logfile: /pygeoapi/log.py  # Or a path on your MacBook like ./pygeoapi.log

metadata:
    identification:
        title: PNU STEMLab IndoorGML API
        description: Developing IndoorGML and IndoorJSON support for OGC API Standards.
        keywords:
            - IndoorGML
            - PNU
            - STEMLab
        terms_of_service: https://creativecommons.org/licenses/by/4.0/ # Add this line!
        url: http://localhost:5000
    provider:
        name: PNU STEMLab
        url: https://github.com/STEMLab
    license:
        name: MIT
        url: https://opensource.org/licenses/MIT
    contact:
        name: Tonny
        url: https://github.com/STEMLab/IndoorGML_API

resources:
    hello-world:
        type: process
        processor:
            name: HelloWorld

database:
  host: localhost
  port: 5432
  database: indoordb
  username: user      
  password: password   