azure-identity
azure-storage-blob
cftime
elasticsearch
elasticsearch-dsl
fiona
GDAL<=3.8.4
geoalchemy2
geopandas
netCDF4
numpy==2.0.1
opensearch-dsl
opensearch-py
oracledb
pandas
psycopg2
pyarrow
pygeofilter[backend-sqlalchemy]
pygeoif
pygeometa
pymongo==4.6.3
scipy
sodapy
xarray
zarr
s3fs<=2023.6.0
