# Flask-based CORS setup
flask_cors

# testing
pytest
pytest-cov
pytest-env
coverage

# PEP8
flake8
pre-commit
black

# packaging/PyPI
twine
wheel

# the packages below are used to handle HTTP/SSL
# errors when uploading to PyPI (https://github.com/pypa/twine/issues/273)
pyOpenSSL
ndg-httpsclient
pyasn1

# Read the docs
sphinx_rtd_theme
