Babel
click
filelock
Flask
importlib_metadata
jinja2
jsonschema
json-merge-patch
pydantic
pygeofilter
pygeoif
pyproj
python-dateutil
pytz
PyYAML
rasterio
requests
shapely<2.0
SQLAlchemy<2.0.0
tinydb
typing-extensions
unicodecsv
