# Flask-based CORS setup
flask_cors

# testing
pytest
pytest-cov
pytest-env
coverage

# PEP8
flake8

# packaging/PyPI
twine
wheel
docutils
pypandoc
# the packages below are used to handle HTTP/SSL
# errors when uploading to PyPI (https://github.com/pypa/twine/issues/273)
pyOpenSSL
ndg-httpsclient
pyasn1

# providers
elasticsearch
GDAL>=2.2,<3.0
psycopg2==2.7.6
