<!doctype html>
<html lang="en">
  <head>
    <meta charset="{{ config['server']['encoding'] }}">
    <title>{% block title %}{{ config['metadata']['identification']['title'] }} -{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="{{ config['server']['language'] }}">
    <meta name="description" content="{{ config['metadata']['identification']['title'] }}">
    <meta name="keywords" content="{{ config['metadata']['identification']['keywords']|join(',') }}">
    <link rel="stylesheet" href="{{ config['server']['url'] }}/static/css/mini.min.css">
    <link rel="stylesheet" href="{{ config['server']['url'] }}/static/css/default.css">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    {% for link in data['links'] %}
      <link rel="{{ link['rel'] }}" type="{{ link['type'] }}" title="{{ link['title'] }}" href="{{ link['href'] }}"/>
    {% endfor %}
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    <header class="sticky row">
      <div class="col-sm col-md-10 col-md-offset-1">
      <a role="button" title="{{ config['metadata']['identification']['description'] }}" href="{{ config['server']['url'] }}/?f=html">{{ config['metadata']['identification']['title'] }}</a>
      <a href="#" role="button" style="float:right">Contact</a>
      <a href="#" role="button" style="float:right">About</a>
      </div>
    </header>
    <main>
    <div class="container">
        <div class="row cols-sm-12 cols-md-10">
          <div class="col-md-offset-1">
            {% block body %}
            {% endblock %}
        </div>
      </div>
    </div>
    </main>
    <footer class="row bottom">
        <div class="col-sm col-md-10 col-md-offset-1">
          Powered by <a title="pygeoapi" href="https://github.com/geopython/pygeoapi">pygeoapi</a> {{ version }}
        </div>
    </footer>   
    {% block extrafoot %}
    {% endblock %}
  </body>
</html>
