{% extends "base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="../collections">Collections</a>
/ <a href="./{{ data['id'] }}">{{ data['title'] }}</a>
{% endblock %}
{% block body %}
    <section id="collection">
      <h1>{{ data['title'] }}</h1>
      <p>{{ data['description'] }}</p>
      <p>
        {% for kw in data['keywords'] %}
          <mark class="tag">{{ kw }}</mark>
        {% endfor %}
      </p>
      <h3>Queryables</h3>
      <ul>
        <li>
          <div>
            <a title="Display Queryables" href="{{ config['server']['url'] }}/collections/{{ data['id'] }}/queryables">
              Display Queryables of "{{ data['title'] }}</a>"</div>
        </li>
      </ul>
      <h3>View</h3>
      <ul>
        <li>
          <div>
            <a title="Browse Items" href="{{ config['server']['url'] }}/collections/{{ data['id'] }}/items">
              Browse through the items of "{{ data['title'] }}</a>"</div>
        </li>
      </ul>
      <h3>Links</h3>
      <ul>
      {% for link in data['links'] %}
          <li>
            <a title="{{ link['rel'] }}" href="{{ link['href'] }}">
            <span>{{ link['title'] }}</span> (<span>{{ link['type'] }}</span>)
            </a></li>
      {% endfor %}
      </ul>
    </section>
{% endblock %}
