{% extends "base.html" %}
{% block title %}{{ super() }} Collections {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="./collections">Collections</a>
{% endblock %}
{% block body %}
    <section id="collections">
      <h2>Collections in this service</h2>
        <table class="striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
            {% for k, v in filter_dict_by_key_value(config['resources'], 'type', 'collection').items() %}
            <tr>
              <td data-label="name">
                <a title="{{ v['title'] | striptags | truncate }}"
                  href="{{ config['server']['url'] }}/collections/{{ k }}">
                  <span>{{ v['title'] | striptags | truncate }}</span></a>
              </td>
              <td data-label="description">
                {{ v['description'] | striptags | truncate }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </section>
{% endblock %}
