{% extends "base.html" %}
{% block title %}{{ super() }} Collections {% endblock %}
{% block crumbs %}{{ super() }} 
<a href="./collections">Collections</a>       
{% endblock %}
{% block body %}
    <section id="collections">
      <h2>Collections in this service</h2>
      <ul>
      {% for k, v in config['datasets'].items()%}
          <li>
            <a title="{{ v['title'] }}" href="{{ config['server']['url'] }}/collections/{{ k }}?f=html">{{ v['title'] }}</a><br/>
            {{ v['description'] }}
          </li>
      {% endfor %}
      </ul>
    </section>
{% endblock %}
