{% extends "base.html" %}
{% block title %}{{ super() }} Collections {% endblock %}
{% block crumbs %}{{ super() }} 
<a href="./collections">Collections</a>       
{% endblock %}
{% block body %}
    <section id="collections">
      <h2>Collections in this service</h2>
      <ul>
      {% for k, v in config['datasets'].items()%}
          <li itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
            <meta itemprop="url" content="{{ config['server']['url'] }}/collections/{{ k }}" />
            <a href="{{ config['server']['url'] }}/collections/{{ k }}/items">
              <span itemprop="name">{{ v['title'] }}</span></a><br/>
              <span itemprop="description">{{ v['description'] | striptags | truncate }}</span>
          </li>
      {% endfor %}
      </ul>
    </section>
{% endblock %}
