{% extends "base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block body %}
    <section id="collection">
      <h2>{{ data['title'] }}<a title="JSON" href="{{ config['server']['url'] }}/collections/{{ data['name'] }}"><img alt="JSON" src="{{ config['server']['url'] }}/static/img/json.png" width="30" height="30"/></a></h2>
      <div>{{ data['description'] }}</div>
      <div><a title="Browse Features" href="{{ config['server']['url'] }}/collections/{{ data['name'] }}/items?f=html">Browse Features</a></div>
      <h2>Links</h2>
      <ul>
      {% for link in data['links'] %}
          <li><a title="{{ link['rel'] }}" href="{{ link['href'] }}">{{ link['href'] }}</a></li>
      {% endfor %}
      </ul>
    </section>
{% endblock %}
