{% extends "base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block crumbs %}{{ super() }} 
/ <a href="../collections">Collections</a>
/ <a href="./{{ data['name'] }}">{{ data['title'] }}</a>
{% endblock %}
{% block body %}
    <section id="collection" itemscope itemtype="http://schema.org/Dataset">
      <span itemprop="includedInDataCatalog" itemscope itemtype="http://schema.org/DataCatalog">
        <meta itemprop="url" content="{{ config['server']['url'] }}/collections/{{ data['name'] }}" />
        <meta itemprop="name" content="{{ config['metadata']['identification']['title'] | striptags }}" />
        <meta itemprop="description" content="{{ config['metadata']['identification']['description'] | striptags }}" />
      </span>
      <h1 itemprop="name">{{ data['title'] }}</h1>
      <meta itemprop="url" content="{{ config['server']['url'] }}" />
      <p itemprop="description">{{ data['description'] }}</p>
      <p itemprop="keywords">
        {% for kw in data['keywords'] %}
          <mark class="tag">{{ kw }}</mark>
        {% endfor %}
      </p>
      <h3>View</h3>
      <ul>
        <li>
          <div itemprop="distribution" itemscope itemtype="http://schema.org/DataDownload">
            <meta itemprop="encodingFormat" content="text/html" />
            <a title="Browse Items" itemprop="contentURL" href="{{ config['server']['url'] }}/collections/{{ data['name'] }}/items">
              Browse through the items of "{{ data['title'] }}</a>"</div>
        </li>
      </ul>
      <h3>Links</h3>
      <ul>
      {% for link in data['links'] %}
          <li itemprop="distribution" itemscope itemtype="http://schema.org/DataDownload">
            <a itemprop="contentURL" title="{{ link['rel'] }}" href="{{ link['href'] }}">
            <span itemprop="name">{{ link['title'] }}</span> (<span itemprop="encodingFormat">{{ link['type'] }}</span>)
            <meta itemprop="inLanguage" content="{{ link['hreflang'] }}" />
            </a></li>
      {% endfor %}
      </ul>
    </section>
{% endblock %}
