{% extends "base.html" %}
{% block title %}{{ super() }} Job status {% endblock %}
{% block form_js %}
<script src="{{ config['server']['url'] }}/static/js/deleteJob.js"></script>
{% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="../../">Processes</a>
/ <a href="../">{{ data.process.title }}</a>
/ <a href="./">Jobs</a>
/ <a href="./{{ data.job.jobID }}">{{ data.job.jobID }}</a>
{% endblock %}
{% block body %}
    <section id="job">
      <div class="row">
        <h1>Job status</h1>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="job-status" class="{{ data.job.status }}">
            <div id="job-status-header" class="{{ data.job.status }}">
              <span>
                <!-- TODO i18n -->
                {% if data.job.status == 'successful' %}
                  <span class="icon-info"></span>
                  Your job was successful!
                {% elif data.job.status == 'accepted' %}
                  <span class="icon-info"></span>
                  Your job has been accepted and is awaiting processing
                {% elif data.job.status == 'running' %}
                  <span class="icon-info"></span>
                  Your job is in progress
                {% elif data.job.status == 'failed' %}
                  <span class="icon-alert"></span>
                  We failed to process your job
                {% endif %}
              </span>
              <span class="progress">
                {{ data.job.progress }}%
              </span>
              {% if data.job.status == 'running' %}
                <span class="spinner"></span>
              {% endif %}
            </div>
            <div id="job-status-body">
              <div class="message">
                <h3>Message</h3>
                <p>{{ data.job.message }}</p>
              </div>
              <div class="duration">
                <h4><label for="progress">Progress</label></h4>
                <progress id="progress" class="inline" value="{{data.job.progress|int*10}}" max="1000"></progress>
                <h4><label for="runtime">Runtime</label></h4>
                <p><span id="runtime">{{ data.job.process_start_datetime|duration(data.job.process_end_datetime) }}</span></p>
                <h4><label for="starttime">Started processing</label></h4>
                <p><span id="starttime">{{ data.job.process_start_datetime|datetime }}</span></p>
                <h4><label for="endtime">Finished processing</label></h4>
                <p><span id="endtime">{{ data.job.process_end_datetime|datetime }}</span></p>
              </div>
              <div class="links">
                {% if data.job.links %}
                <h4><label for="resources">Resources</label></h4>
                <ul id="resources">
                  {% for link in data.job.links %}
                  {% if link.rel != 'self' %}
                  <li>
                    <a href="{{ link.href }}" rel="{{ link.rel }}" type="{{ link.type }}" title="{{ link.title }}">
                      <span class="icon-link"></span>{{ link.title }}
                    </a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
                {% endif %}
                <h4><label for="actions">Actions</label></h4>
                <span id="actions">
                  <button type="button" onclick="deleteJob('{{config.server.url}}/processes/{{data.process.id}}/jobs/{{data.job.jobID}}')" title="Delete job" class="secondary shadowed">Delete job</button>
                </span>
              </div>
              <section class="callout-info" id="action-results"></section>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
