{% extends "base.html" %}
{% block title %}{{ super() }} Jobs {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="../../processes">Processes</a>
/ <a href="../{{ data.process.id }}">{{ data.process.title }}</a>
/ <a href="./jobs">Jobs</a>
{% endblock %}
{% block body %}
    <section id="jobs">
      <div class="row">
        <div class="col-md-12">
          <table class="job-list striped">
            <caption>Jobs</caption>
            <thead>
              <tr>
                <th>ID</th>
                <th>Start</th>
                <th>Duration</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              {% for job in data.jobs %}
              <tr>
                <td class="small"><a href="{{ config['server']['url'] }}/processes/{{data.process.id}}/jobs/{{ job.jobID}}">{{ job.jobID }}</a></td>
                <td><abbr title="{{ job.job_start_datetime|format_datetime }}">{{ job.job_start_datetime|format_datetime }}</abbr></td>
                <td>
                  {% if job.status == 'running' %}
                    {{ job.job_start_datetime|format_duration(data.now) }}
                  {% else %}
                    {{ job.job_start_datetime|format_duration(job.job_end_datetime) }}
                  {% endif %}
                </td>
                <td>
                  <progress class="inline" value="{{job.progress|int*10}}" max="1000"></progress>
                </td>
                <td>
                  <mark class="{{job.status}}">{{ job.status }}</mark>
                </td>
                <td>
                  {{ job.message }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
{% endblock %}
