<!DOCTYPE html>
<html>
<body>

<div id="loading_screen" style="position: absolute;top:100px;left:0;right:0;width: fit-content;margin-inline: auto;height:200px;">
<img style="height:200px;width:218.6px" src="{{ data['url'] }}/static/img/speckle_cube_loading.gif" alt="Loading data.." >
<h3 style="margin-bottom: 0px;font-family: 'Verdana'; text-align: center; color:rgb(40, 127, 209);font-size: x-large;">"I'm on my way!"</h3>
<p style="font-family: 'Verdana'; text-align: right; color:rgb(40, 127, 209)">- your data    </p>
</div>

</body>
</html>
