{% extends "base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="../processes">Processes</a>
/ <a href="./{{ data['id'] }}">{{ data['title'] }}</a>
{% endblock %}
{% block body %}
    <section id="processes" itemscope itemtype="https://schema.org/WebAPI">
      <h2 itemprop="name">{{ data['title'] }}</h2>
      <div itemprop="description">{{ data['description'] }}</div>
      <meta itemprop="url" content="{{ config['server']['url'] }}/processes/{{ data['id'] }}" />
      <div class="row">
        <div class="col-sm-12 col-md-6">
            <table class="striped">
              <caption>Inputs</caption>
              <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
                {% for input_ in data['inputs'] %}
                <tr itemprop="parameter" itemscope itemtype="https://schema.org/Parameter">
                  <td itemprop="id" data-label="name">{{ input_['id'] }}</td>
                  <td itemprop="name" data-label="title">{{ input_['title'] }}</td>
                  <td itemprop="description" data-label="description">
                    {{ input_['description'] | striptags | truncate }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
      <h2>Links</h2>
      <ul>
      {% for link in data['links'] %}
          <li>
            <a itemprop="documentation" title="{{ link['rel'] }}" href="{{ link['href'] }}">
            {{ link['title'] }} ({{ link['type'] }})
            </a></li>
      {% endfor %}
      </ul>
    </section>
{% endblock %}
