{% extends "base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="../../">Collections</a>
/ <a href="../../../collections/{{ data['id'] }}">{{ data['title'] }}</a>
{% endblock %}
{% block body %}
    <section id="collection" itemscope itemtype="https://schema.org/Dataset">
      <span itemprop="includedInDataCatalog" itemscope itemtype="https://schema.org/DataCatalog">
        <meta itemprop="url" content="{{ config['server']['url'] }}/collections" />
        <meta itemprop="name" content="{{ config['metadata']['identification']['title'] | striptags }}" />
        <meta itemprop="description" content="{{ config['metadata']['identification']['description'] | striptags }}" />
      </span>
      <h1 itemprop="name">{{ data['title'] }}</h1>
      <meta itemprop="url" content="{{ config['server']['url'] }}" />
      <p itemprop="description">{{ data['description'] }}</p>
      <h3>Coverage range type</h3>
      <h4>Fields</h4>
      <ul>
	{% for field in data['field'] %}
	<li>{{ field['id'] }}: {{ field['name'] }} ({{ field['definition'] }})</li>
	{% endfor %}
      </ul>
    </section>
{% endblock %}
