{% extends "base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="../../">Collections</a>
/ <a href="../../../collections/{{ data['id'] }}">{{ data['title'] }}</a>
{% endblock %}
{% block body %}
    <section id="collection">
      <h1>{{ data['title'] }}</h1>
      <p>{{ data['description'] }}</p>
      <h3>Coverage range type</h3>
      <h4>Fields</h4>
      <ul>
	{% for field in data['field'] %}
	<li>{{ field['id'] }}: {{ field['name'] }} ({{ field['definition'] }})</li>
	{% endfor %}
      </ul>
    </section>
{% endblock %}
