{% extends "base.html" %}
{% block title %}{{ super() }} Home {% endblock %}
{% block body %}
    <section id="service-metadata">
      <h2>Service Metadata</h2>
      <table>
        <tr>
          <td>Provider</td>
          <td><a title="{{ config['metadata']['provider']['name'] }}" href="{{ config['metadata']['provider']['url'] }}">{{ config['metadata']['provider']['name'] }}</a></td>
        </tr>
      </table>
    </section>
    <section id="conformance">
        <h2><a href="{{ config['server']['url'] }}/conformance?f=html">Conformance</a></h2>
    </section>
    <section id="collections">
        <h2><a href="{{ config['server']['url'] }}/collections?f=html">Collections</a></h2>
    </section>
    <section id="links">
      <h2>Links</h2>
      <ul>
      {% for link in data['links'] %}
          <li><a title="{{ link['title'] }}" href="{{ link['href'] }}">{{ link['title'] }}</a></li>
      {% endfor %}
      </ul>
    </section>
{% endblock %}
