<!doctype html>
<html lang="en">
  <head>
    <meta charset="{{ config['server']['encoding'] }}">
    <title>{{ config['metadata']['identification']['title'] }}</title>

    <meta name="language" content="{{ config['server']['language'] }}">
    <meta name="description" content="{{ config['metadata']['identification']['title'] }}">
    <meta name="keywords" content="{{ config['metadata']['identification']['keywords']|join(',') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <h1><a title="{{ config['metadata']['identification']['title'] }}" href="{{ config['server']['url'] }}">{{ config['metadata']['identification']['title'] }}</a></h1>
      <span itemprop="description">{{ config['metadata']['identification']['description'] }}</span>
    </header>
    <section id="service-metadata">
      <h2>Service Metadata</h2>
      <table>
        <tr>
          <td>Provider</td>
          <td><a title="{{ config['metadata']['provider']['name'] }}" href="{{ config['metadata']['provider']['url'] }}">{{ config['metadata']['provider']['name'] }}</a></td>
        </tr>
      </table>
    </section>
    <section id="datasets">
      <h2>Datasets</h2>
      {% for k, v in config['datasets'].items()%}
          <span><a title="{{ v['title'] }}" href="{{ config['server']['url'] }}{{ url_for('dataset', dataset_name=k) }}">{{ v['title'] }}</a></span>
      {% endfor %}
    </section>
    <hr/>
    <footer>Powered by <a title="pygeoapi" href="https://github.com/geopython/pygeoapi">pygeoapi</a> {{ version }}</footer>
  </body>
</html>
