{% extends "_base.html" %}
{% block title %}{{ super() }} {% trans %}Collections{% endtrans %}{% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="{{ data['collections_path'] }}">{% trans %}Collections{% endtrans %}</a>
{% endblock %}
{% block body %}
    <section id="collections">
      <h1>Collections in this service</h1>
            <table class="striped">
              <thead>
              <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
              </tr>
              </thead>
              <tbody>
                {% for col in data['collections']  %}
                <tr>
                  <td data-label="name">
                    <a  title="{{ col['title'] | striptags | truncate }}"
                      href="{{ data['collections_path']/{{ col.id }}">
                      <span>{{ col['title'] | striptags | truncate }}</span></a>
                  </td>
                  <td data-label="type">{{ col["itemType"] }}</td>
                  <td data-label="description">
                    {{ col['description'] | striptags | truncate }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
    </section>
{% endblock %}
