Source: pygeoapi
Section: python
Priority: optional
Maintainer: Tom Kralidis <tomkralidis@gmail.com>
Uploaders: Angelos Tzotsos <gcpp.kalxas@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 4.3.0
Vcs-Git: https://github.com/geopython/pygeoapi.git
Homepage: https://pygeoapi.io/

Package: python3-pygeoapi
Architecture: all
Depends: ${python3:Depends},
         python3-pkg-resources,
         python3-click,
         python3-dateutil,
         python3-flask,
         python3-jsonschema,
         python3-tz,
         python3-unicodecsv,
         python3-yaml,
         ${misc:Depends}
Suggests: python3-babel, python3-elasticsearch, python3-fiona, python3-geojson, python3-pygeometa, python3-pyproj, python3-rasterio
Description: pygeoapi provides an API to geospatial data.
 .
 This package the pygeoapi module for Python 3.
