#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PYBUILD_NAME=pygeoapi

%:
	dh $@ --with python2,python3 --buildsystem pybuild

override_dh_auto_test:
	@echo "nocheck set, not running tests"
