{% extends "_base.html" %}
{% block extrahead %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
{% endblock %}

{% block body_map %}

  <div class="row">
    {% if not data['missing_url'] %}
    <div id="items-map" style="min-height: 80vh;"></div>
    {% else %}
    <div id="items-map" style="min-height: 40vh;"></div>
    {% endif %}
  </div>

{% endblock %}

{% block body %}

  <section id="description">
    <div class="row">
      <p> </p>
    </div>

    <div class="row">
      <tr>
        <p>
          This is the test deployment of the OGC API server for public Speckle projects. 
          It allows you to share your Speckle model as geospatial data in the format of 
          OGC API Features / Web Feature Service, so it can be natively added to a QGIS, ArcGIS 
          or Civil3D project, or embedded into a web map using Leaflet, OpenLayers or other libraries. 
          You can find more guidelines and examples on our <a href = "https://github.com/specklesystems/pygeoapi" target="_blank">GitHub page</a>. 
        </p>
      </tr>
      
      {% if data['missing_url'] %}
      <tr>
        <p>
          <div  style="height: fit-content;">
            <p> Provide Speckle Model link as an argument to start exploring, e.g.:  <a href = "https://geo.speckle.systems/?speckleUrl=https://app.speckle.systems/projects/64753f52b7/models/338b386787&lat=-0.031405&lon=109.335828">"https://geo.speckle.systems/?speckleUrl=https://app.speckle.systems/projects/64753f52b7/models/338b386787&lat=-0.031405&lon=109.335828"</a></p>
          </div>
        </p>
      </tr>

      {% else %}
      <details>
      <summary><b>Details of the current Speckle model</b></summary>
        
      <section id="url_parameters">
        {% if data['features'] %}
        
        <div class="row">
          <p> </p>
        </div>
        
        <div class="row">
          <p>{% trans %}Note: if Speckle model location data is available, the relevant URL parameters will be ignored. If neither model nor URL parameters specify the location, model will be placed randomly. {% endtrans %}</p>
        </div>

        <div class="row">
        <div class="col-md-6 col-sm-12">
            <b>{% trans %}Speckle model data  {% endtrans %}</b>      
            <div style="overflow-x: scroll;">
              <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td >Project name:</td>
                    <td>{{ data['project'] }}</td>
                  </tr>
                  <tr>
                    <td >Model name:</td>
                    <td>{{ data['model'] }}</td>
                  </tr>
                  <tr>
                    <td >Last version created:</td>
                    <td>{{ data['model_last_version_date'] }}</td>
                  </tr>


                    <tr>
                      <td >Coordinate Reference System:</td>
                      <td>{{ data['model_crs'] }}</td>
                    </tr>

                </tbody>
                </table>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-12">
            <b>{% trans %}URL parameters  {% endtrans %}</b>
            <div style="overflow-x: scroll;">
              <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>

                    <tr>
                      <td >Speckle URL ('speckleurl')</td>
                        <td>
                          <a href="{{ data['speckle_url'] }}">
                            {{ data['speckle_url'] }}
                          </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Requested data type ('datatype')</td>
                      <td>{{ data['requested_data_type'] }}</td>
                    </tr>
                    <tr>
                      <td>Prioritize object attributes over display quality ('preserveattributes')</td>
                      <td>{{ data['preserve_attributes'] }}</td>
                    </tr>
                    <tr>
                      <td >Coordinate Reference System ID ('crsauthid')</td>
                      <td>{{ data['crs_authid'] }}</td>
                    </tr>
                    <tr>
                      <td>Latitide ('lat')</td>
                      <td>{{ data['lat'] }}</td>
                    </tr>
                    <tr>
                      <td>Longitude ('lon')</td>
                      <td>{{ data['lon'] }}</td>
                    </tr>
                    <tr>
                      <td >Angle to True North, in degrees ('northdegrees')</td>
                      <td>{{ data['north_degrees'] }}</td>
                    </tr>
                    <tr>
                      <td >Feature limit ('limit')</td>
                      <td>{{ data['limit'] }}</td>
                    </tr>

                </tbody>
                </table>
            </div>
        </div>
        
        <div class="row">
          <p> </p>
        </div>

      
      </section>

      <section id="items">

        <div class="row">
          <p> </p>
        </div>

        <div class="row">
          <b>{% trans %}Features in this model {% endtrans %}</b>    
          <div style="overflow-x: scroll;">
            {% set props = [] %}
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  {% if data.get('uri_field') %}
                    {% set uri_field = data.uri_field %}
                    <th>{{ uri_field }}</th>
                  {% elif data.get('title_field') %}
                    {% set title_field = data.title_field %}
                    <th>{{ title_field }}</th>
                  {% else %}
                    <th>id</th>
                  {% endif %}

                  {% for k in data['features'][0]['properties'].keys() %}
                    {% if k not in [data.id_field, data.title_field, data.uri_field, 'extent'] %}
                      {% set props = props.append(k) %}
                      <th>{{ k | striptags }}</th>
                    {% endif %}
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for ft in data.features %}
                  <tr>
                      {% set title_field = data.title_field %}
                      <td data-label="{{ title_field }}">
                        <a title="{{ ft.properties.get(title_field) }}" href="{{ data['speckle_project_url'] }}/models/{{ft.id.split('_')[0]}}" target="_blank">
                          {{ ft.properties.get(title_field) | string | truncate( 35 ) }}
                        </a>
                      </td>

                    {% for prop in props %}
                      <td data-label="{{ prop }}">
                        {{ ft.properties.get(prop, '') | string | truncate( 35 ) }}
                      </td>
                    {% endfor %}

                  </tr>
                {% endfor %}
              </tbody>
              </table>
          </div>
        </div>
        {% else %}
        <div class="row">
            <p>{% trans %}No items{% endtrans %}</p>
        </div>
        {% endif %}
      </section>
      
      
    </details>
    
    <tr><p></p></tr>
    {% endif %}


      <tr>
        <p>
          You can use the current link to access OGC API dataset in your preferred software, 
          as well as explore the data in the browser and share with others. URL should start with 'https://geo.speckle.systems/?' 
          followed by required and optional parameters. Parameters should be separated with '&' symbol. 
          Use the following URL parameters to construct a link that provides Speckle data with your preferred settings: 
        </p>
      </tr>
      <tr>
        <i>- speckleUrl</i><p> text, required, should contain path to a specific Model in Speckle Project, e.g. 'https://app.speckle.systems/projects/344f803f81/models/5582ab673e'
        </p>
      </tr>
      <tr>
        <i>- dataType</i><p> text, optional, choose from: points, lines, polygons or projectcomments
        </p>
      </tr>
      <tr>
        <i>- limit</i><p> positive integer, recommended, as some applications might apply their custom feature limit
        </p>
      </tr>
      <tr>
        <i>- preserveAttributes</i><p> string, optional, choose from: true, false. If not set, meshes will be split into separate polygons for better display quality.
        </p>
      </tr>
      <tr>
        <i>- crsAuthid</i><p> text, an authority string e.g. 'epsg:4326'. If set, LAT, LON and NORTHDEGREES arguments will be ignored.
        </p>
      </tr>
      <tr>
        <i>- lat</i><p> number, in range -90 to 90
        </p>
      </tr>
      <tr>
        <i>- lon</i><p> number, in range -180 to 180
        </p>
      </tr>
      <tr>
        <i>- northDegrees</i><p> number, in range -180 to 180
        </p>
      </tr>
      <tr>
        <p>
          If GIS-originated Speckle model is loaded, no location arguments are needed.  
        </p>
      </tr>
      <tr>
      </tr>
      
  </tr><p></p>
  <tr>

      <tr>
        <p>
          Here are some examples: 
        </p>
      </tr>
      <tr>
        <p>
          1. QGIS polygon features: <a href = "https://geo.speckle.systems/?speckleUrl=https://app.speckle.systems/projects/344f803f81/models/5582ab673e&datatype=polygons&preserveAttributes=true">https://geo.speckle.systems/?speckleUrl=https://app.speckle.systems/projects/344f803f81/models/5582ab673e&datatype=polygons&preserveAttributes=true</a>
        </p>
      </tr>
      <tr>
        <p>
          2. QGIS point features: <a href = "https://geo.speckle.systems/?speckleUrl=https://app.speckle.systems/projects/344f803f81/models/8c49788b1f&datatype=points&preserveAttributes=true">https://geo.speckle.systems/?speckleUrl=https://app.speckle.systems/projects/344f803f81/models/8c49788b1f&datatype=points&preserveAttributes=true</a>
        </p>
      </tr>
      <tr>
        <p>
          3. Rhino building masses: <a href = "https://geo.speckle.systems/?speckleUrl=https://app.speckle.systems/projects/64753f52b7/models/338b386787&lat=-0.031405&lon=109.335828">https://geo.speckle.systems/?speckleUrl=https://app.speckle.systems/projects/64753f52b7/models/338b386787&lat=-0.031405&lon=109.335828</a>
        </p>
      </tr>
      <tr>
        <p>
          4. Speckle project comments: <a href = "https://geo.speckle.systems/?speckleUrl=https://app.speckle.systems/projects/344f803f81/models/5582ab673e&datatype=projectcomments">https://geo.speckle.systems/?speckleUrl=https://app.speckle.systems/projects/344f803f81/models/5582ab673e&datatype=projectcomments</a>
        </p>
      </tr>
      
    </tr><p></p>
    <tr>
  
      <tr>
        <p>
          <b>Note: this is not a production server.</b> It is still work in progress, 
          and we are very curious 
          to <a href = "https://speckle.community/invites/qxEmQb1QcM" target="_blank">hear about your use case and your feedback</a>
          so we can make it better.
        </p>
      </tr>
    </div>
  </section>
 
  
{% endblock %}

{% block extrafoot %}

    <script>
    var map = L.map('items-map').setView([45, 0], 2);
    map.addLayer(new L.TileLayer(
        '{{ config['server']['map']['url'] }}', {
            maxZoom: 22,
            attribution: '{{ config['server']['map']['attribution'] | safe }}  &copy; Data: <a href="https://speckle.systems/">Speckle Systems</a>'
        }
    ));

    var geojson_data = {{ data['features'] | to_json | safe }};
    // var geojson_comments = {{ data['comments'] | to_json | safe }};

    var items = new L.GeoJSON(geojson_data, {
        filter: (feature) => {
          return feature.displayProperties["object_type"] == "geometry"
        },
        pointToLayer: (feature, latlng) => {
            return new L.circleMarker(latlng)            
        },
        onEachFeature: function (feature, layer) {
            var url = '{{ data['speckle_project_url'] }}/models/' + feature.id.split("_")[0]
            var html = '<span><td><p>' + feature['properties']['speckle_type'] + '</p></td><a href="' + url + '" target="_blank">' + feature['properties']['id'].split("_")[0] + '</a></span>';
            layer.bindPopup(html);

            var myFillColor = feature.displayProperties['color'];
            var mylineWeight = feature.displayProperties['lineWidth'];
            var myRadius = feature.displayProperties['radius'];

            layer.setStyle({
                fillColor: myFillColor,
                color: myFillColor,
                fillOpacity: 0.8,
                weight: mylineWeight,
                radius: myRadius
            });
        }
    }); //.addTo(map);
    
    var comments = new L.GeoJSON(geojson_data, {
        filter: (feature) => {
          return feature.displayProperties["object_type"] == "comment"
        },
        pointToLayer: (feature, latlng) => {
            return new L.marker(latlng)            
        },
        onEachFeature: function (feature, layer) {
            var url = '{{ data['speckle_project_url'] }}/models/' + feature.properties.resource_id + '#threadId=' + feature.id; 
            var html = '<span><td><a href="' + url + '" target="_blank">Go to thread</a></td> <td><p>' + feature['properties']['text_html'] + '</p></td>  </span>';
            layer.bindPopup(html);
        }
    }); //.addTo(map);

    var group = L.featureGroup([items, comments])
    .addTo(map);

    //map.addLayer(lines);

    map.fitBounds(group.getBounds());
    // map.setZoom(19); // in order for the tiles to load

    </script>

{% endblock %}
